{% extends 'common.html' %}
{% block content %}
    <body id='buyer'>
        <h1>Test Drive Now!</h1>
        <hr>
        <form action="", method="POST">
            <label for="item"></label>
            <input type="text" name="name" id="" placeholder="Enter car name">
            <button class="btn btn-danger">Submit</button>
        </form>
        {% for i in elements %}
        <div class="card">
            <div class="card-body">
                <h2><span>{{ i[0] }}. </span>{{ i[2] }}</h2>
                <a href="/test-drive/{{ i[0] }}" class='btn btn-primary'>Test drive now!</a>
            </div>
        </div>
    {% endfor %}
    </body>
{% endblock content %}